@model PaginatedList<stockmarket.Models.Company>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model[0].companyName)
                </th>
                <th>
                    companyAbbr
                                    
                </th>
                <th>date
                </th>
                <th>open
                </th>
                <th>high
                </th>
                <th>close
                </th>
                <th>
                </th>
                <th>adjClose
                </th>
                <th>volume
              
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.companyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.companyAbbr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.open)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.high)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.close)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.low)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.adjClose)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.volume)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<a asp-action="Index"
  
   asp-route-page="@(Model.PageIndex - 1)"
 
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
 
   asp-route-page="@(Model.PageIndex + 1)"

   class="btn btn-default @nextDisabled">
    Next
</a>