@model PaginatedList<stockmarket.Models.Company>

@foreach (var item in Model)
{
    <tr>
      <td>  @item.companyName;     </td>
      <td>  @item.companyAbbr;     </td>
      <td>  @item.high;            </td>
        <td><a asp-action="Details" asp-route-id="@item.Id">Details</a></td>
    </tr>
    

}

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<a asp-action="Index"
   asp-route-page="@(Model.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-page="@(Model.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    Next
</a>